@media (max-width: 900px) {
    body{
        font-size: 4px;
    }
    h1{
        font-size: 6px;
    }
}
body {
    background-color: rgb(87, 28, 28);
        /**/
    font-family: Adventure Time;
}
@font-face {
    font-family: Adventure Time;
    src: url(fonts/AdvTime-2editotf.otf) format(opentype);
}
h1{
    font-weight:lighter;
}

#map {
    height: 95vh;
}

#div_map {
    position: absolute;
}

#div_zones {
    border: 1ch black;
    width: 40vw;
    float: right;
    background-color: rgb(201, 126, 27);
    position: fixed;
    right: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    display:flex;
    align-items:center;
    font-size: 8px;
    text-align: center;
    user-select:none;

}

#div_zones #slots:hover {
    /*cambiar por una flecha que rota tal vez?*/
    background-color: rgb(144, 211, 43);
    text-decoration: underline;
}
/*there are 23 zones in the map*/
#div_zones #slots:nth-child(1) {
    border: 3px solid red;
    flex-basis: 45%;    
    margin-bottom: 0px;
    margin-top: 0px;
    
}

#div_zones #slots:nth-child(2) {
    border: 3px solid red;
    flex-basis: 45%;
    
    margin-bottom: 0px;
    margin-top: 0px;
}

#div_zones #slots:nth-child(3) {
    border: 3px solid red;
    flex-basis: 45%;
    margin-bottom: 0px;
    margin-top: 0px;
}

#div_zones #slots:nth-child(4) {
    border: 3px solid red;
    flex-basis: 45%;
    margin-bottom: 0px;
    margin-top: 0px;
}

#div_zones #slots:nth-child(5) {
    border: 3px solid red;
    flex-basis: 45%;
    margin-bottom: 0px;
    margin-top: 0px;
}

#div_zones #slots:nth-child(6) {
    border: 3px solid red;
    flex-basis: 45%;
    margin-bottom: 0px;
    margin-top: 0px;
}

#div_zones #slots:nth-child(7) {
    border: 3px solid red;
    flex-basis: 45%;
    margin-bottom: 0px;
    margin-top: 0px;
}

#div_zones #slots:nth-child(8) {
    border: 3px solid red;
    flex-basis: 45%;
    margin-bottom: 0px;
    margin-top: 0px;
}

#div_zones #slots:nth-child(9) {
    border: 3px solid red;
    flex-basis: 45%;
    margin-bottom: 0px;
    margin-top: 0px;
}

#div_zones #slots:nth-child(10) {
    border: 3px solid red;
    flex-basis: 45%;
    margin-bottom: 0px;
    margin-top: 0px;
}

#div_zones #slots:nth-child(11) {
    border: 3px solid red;
    flex-basis: 45%;
    margin-bottom: 0px;
    margin-top: 0px;
}

#div_zones #slots:nth-child(12) {
    border: 3px solid red;
    flex-basis: 45%;
    margin-bottom: 0px;
    margin-top: 0px;
}

#div_zones #slots:nth-child(13) {
    border: 3px solid red;
    flex-basis: 45%;
    margin-bottom: 0px;
    margin-top: 0px;
}

#div_zones #slots:nth-child(14) {
    border: 3px solid red;
    flex-basis: 45%;
    margin-bottom: 0px;
    margin-top: 0px;
}

#div_zones #slots:nth-child(15) {
    border: 3px solid red;
    flex-basis: 45%;
    margin-bottom: 0px;
    margin-top: 0px;
}

#div_zones #slots:nth-child(16) {
    border: 3px solid red;
    flex-basis: 45%;
    margin-bottom: 0px;
    margin-top: 0px;
}

#div_zones #slots:nth-child(17) {
    border: 3px solid red;
    flex-basis: 45%;
    margin-bottom: 0px;
    margin-top: 0px;
}

#div_zones #slots:nth-child(18) {
    border: 3px solid red;
    flex-basis: 45%;
    margin-bottom: 0px;
    margin-top: 0px;
}

#div_zones #slots:nth-child(19) {
    border: 3px solid red;
    flex-basis: 45%;
    margin-bottom: 0px;
    margin-top: 0px;
}

#div_zones #slots:nth-child(20) {
    border: 3px solid red;
    flex-basis: 45%;
    margin-bottom: 0px;
    margin-top: 0px;
}

#div_zones #slots:nth-child(21) {
    border: 3px solid red;
    flex-basis: 45%;
    margin-bottom: 0px;
    margin-top: 0px;
}

#div_zones #slots:nth-child(22) {
    border: 3px solid red;
    flex-basis: 45%;
    margin-bottom: 0px;
    margin-top: 0px;
}

#div_zones #slots:nth-child(23) {
    border: 3px solid red;
    flex-basis: 45%;
    margin-bottom: 0px;
    margin-top: 0px;
    justify-content: space-around;
}

/*Experimental*/
.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent black background */
    z-index: 1; /* Ensure overlay is above other content */
    justify-content: center;
    align-items: center;
}
.info {
    background-color: #0c0a0a; /* Background color for information */
    padding: 20px;
    border-radius: 5px;
}
.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}